# ─── App ──────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Nutado

# ─── Firebase Client SDK ──────────────────────────────
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB6I5J55Zclg6M0WS_1vDcSkt_-x91ZM0Q
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nutado-dashboard-a4a81.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nutado-dashboard-a4a81
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nutado-dashboard-a4a81.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=165758121589
NEXT_PUBLIC_FIREBASE_APP_ID=1:165758121589:web:25dca604a2fd9ed3776a3c



